.accordianContainer{
    
    background: #303030;
    justify-self: center;
    
    text-align: left;
}
.accordianHeader{
    justify-content: space-between;
    cursor: pointer;
}
.accordianIconOpened{
    animation: rotate 0.5s both 
}
.accordianIconClosed{
    animation: anti-rotate 0.5s both 
}
.hidden{
    display: none;
}

.accordianContent{
    max-height: 0px;
    /* overflow: hidden; */
    animation: accordianOpen 0.5s ease-out forwards;
    /* animation: open-accordian 5s linear forwards; */
}
.accordianContentText{
    
    border-top: 2px solid white;
}
@keyframes accordianClose {
    0%{
        
    }
    100%{
        max-height: 0px;
    }
}
@keyframes accordianOpen {

    100%{
        max-height: 500px;
    }
    
}
@keyframes rotate{
    100%{
        transform: rotate(45deg);
    }
}
@keyframes anti-rotate{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}