.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.faqContainer{
  height: auto;
  padding-bottom: 5%;
  
  border-bottom: 8px solid #222;
}
.faqWrapper{
  
  width: 700px;
}

